streamlit>=1.30.0
pandas
torch --index-url https://download.pytorch.org/whl/cpu
transformers
scikit-learn
numpy
matplotlib
bcrypt
python-dotenv
plotly
reportlab
langdetect
deep-translator
groq
streamlit-autorefresh
google-play-scraper
tweepy
openpyxl
